@import '../base/variables';
@import '../base/mixins';

.mt-checkbox {
  justify-content: space-between;

  input[type='checkbox'] {
    @include mm-wh(1.25rem);
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $gray-200;

    &:checked {
      background: $primary;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid white;
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(43deg);
      }
    }

    &:disabled {
      background: $gray-100;
      border: 1px solid $gray-200;
    }
  }
}

.mt-switch {
  label {
    font-weight: 700;
    color: $primary;
  }

  input[type='checkbox'] {
    $input-width: 2.25rem;
    $input-after: 1.25rem;
    @include max-h(0.875rem);
    @include max-w($input-width);
    background: $gray-100;
    border-radius: 0.5rem;

    &:after {
      @include mm-wh(1.25rem);
      top: 50%;
      border-radius: 50%;
      background: white;
      border: 1px solid $gray-50;
      // Todo Reemplazar por shadow-3
      box-shadow: 0 0 2px 0 rgba(43, 48, 74, 0.04), 0 4px 8px 0 rgba(43, 48, 74, 0.16);
      transform: translate(0, -50%);
    }

    &:checked {
      background: $primary;

      &:after {
        transform: translate(calc(#{$input-width} - #{$input-after}), -50%);
      }
    }

    &:disabled {
      border: none;

      &:after {
        opacity: .6;
        background: $gray-200;
      }

      &:checked {
        &:after {
          background: white;
        }
      }
    }
  }
}

// No mover de lugar
.mt-checkbox,
.mt-switch {
  display: flex;
  align-items: center;

  label {
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
  }

  input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    position: relative;
    cursor: pointer;
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      position: absolute;
      transition: transform .3s ease, opacity .2s;
    }

    &:hover,
    &:checked {
      border-color: $primary;
    }

    &:disabled {
      border-color: transparent;
    }
  }

  &--form {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 1rem;

    input {
      margin-right: 0.5rem;
    }

    label {
      width: auto;
      color: $gray-900;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }

  &.settings-label {
    label {
      font-size: 0.875rem;
      color: $gray-900;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 0.25rem;
    }
  }
}

